.Vue {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.VueContent {
  display: flex;
  align-items: center;
  margin: 15px 0;
}
.VueContent li {
  color: black;
  font-size: 15px;
  font-family: 'Mulish', sans-serif;
  background-color: rgb(230, 230, 230);
  padding: 8px 15px;
  border-radius: 40px;
  cursor: pointer;
  margin: 0 3px;
}
@media (max-width: 1050px) {
  .VueContent li {
    font-size: 14px;
  }
}
.VueContent .active {
  background-color: black;
  color: white;
  transition: all 0.4 ease;
}
